*{
    font-family: 'Russo One', sans-serif;
    border: 0px;
    margin: 0px;
}

body{
    background-color:#222222;
}

.calcontainer{
    padding: 20px;
    width: 600px;
    margin: auto;
    margin-top: 100px;
    background-color: #222222;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.display{
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    width: 540px;
    padding: 10px;
    color: #1A1A1A;
    border-radius: 10px;
    height: 60px;
    margin: auto;
    text-align: right;
}

.buttons {
    width: 560px;
    border: 1px solid orange;
    border-radius: 10px;
    height: 420px;
    margin-left: 3%;
    margin-top: 10px;
    
}

.operators {
    width: 540px;
    border: 1px solid orange;
    border-radius: 10px;
    height: 60px;
    padding: 10px;
}

.lowerbuttons {
    display: flex;
    width: 560px;
    height: 340px;
}
.operands {
    width: 420px;
    border: 1px solid orange;
    border-radius: 10px;
    height: 315px;
    padding: 10px;
}

.equalbutton {
    border: 1px solid orange;
    border-radius: 10px;
    width: 90px;
    height: 335px;
    margin-left: 10px;
}